corpus
highpass_wavs
lowpass_wavs
detected_beats
aubio
essentia_c
audio2midi
aubio
detected_hats
detected_kicks
aubio
pyaudio.whl
track_generator/midijs
samples
melodies
wavenet-ckpt
._wavenet-ckpt
kick_log_dir
hat_log_dir
tmp